In [1]:
1+1

2

In [2]:
2*9

18

In [3]:
# Shift+Enter = execution of present cell + add a new cell

In [4]:
2**3 #2 raised to the power 3

8

In [5]:
print("Hello World")

Hello World

In [9]:
#for new line, use \n
print("Hello World! \nMy name is Shivani.")

Hello World!
My name is Shivani.

In [10]:
#for tab space, use \t
print("Hello World! \tMy name is Shivani.")

Hello World! 	My name is Shivani.

Escpae sequences: /n and /t #Raw NBConvert (text)

In [13]:
a=5 #a is a variable
b=3
c=a+b
print("c")
print(c)
print(a-b)

c
8
2

In [15]:
a=2
b=3
print("Sum is ",a+b)

Sum is  5

In [16]:
a=7.15
type(a)

float

In [17]:
a=2193238
type(a)

int

In [18]:
a

2193238

In [20]:
a=True
type(a)

bool

In [24]:
a=2+3j
b=1+2j
c=a+b
print(c)
type(a)

(3+5j)

complex

In [25]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [26]:
len(keyword.kwlist)

35

In [27]:
c=45
print(c)
print(type(c))
print(c)

45
<class 'int'>
45

# Operators

In [29]:
#Arithmetic
print(2+3)
print(2-3)
print(2*3)
print(7/2)
print(7%2)

5
-1
6
3.5
1

In [30]:
#Relation < <= > >< >= == !=
print(2<3)
print(4==4)

True
True

In [31]:
#Membership: in, not in

'a' in'Shivani'

True

In [32]:
22 in [22,32]

True

In [41]:
a=5
print(id(a))
b=6
print(id(b))

140715514372624
140715514372656

In [42]:
a=5.0
print(id(a))
b=5
print(id(b))

2477704839952
140715514372624

In [44]:
a=5
print(id(a))
b=5
print(id(b))

140715514372624
140715514372624

# Conditional Statements
if, elif, else

In [45]:
x=5
if x==5:
    print("x is ",x)
print("Outside if")

x is  5
Outside if

In [46]:
x=5
if x%2==0:
    print("even")
else:
    print("odd")

odd

In [49]:
x=3
if x ==0:
    print("zero")
elif x>0:
    print("positive")
else :
    print ("negative")

positive

In [50]:
x= input()
print("x is ",x)

5
x is  5

In [52]:
x= input("Enter")
print("x is ",x)

Enter8
x is  8

In [53]:
x= int(input())
y= int(input())
sum=x+y

6
4

In [54]:
sum

10

# DAY 2

In [1]:
l=[10,20,3.14, 2+3j, False,"Shivani"]
print(l)
print(type(l))

[10, 20, 3.14, (2+3j), False, 'Shivani']
<class 'list'>

In [2]:
#loops
#for loop:

l=[10,20,30,40]
for i in l:
    print(i)

10
20
30
40

In [3]:
l=["Shivani","Sorte"]
for var in l:
    print(var)

Shivani
Sorte

In [7]:
# underscore is also available as a variable in python
#while loop

i=1;
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [8]:
i=10;
while i>=1:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [10]:
#end attribute - by default it is \n

for i in [11,12,13]:
    print(i,end="*")

11*12*13*

# Function

In [12]:
#Built-in 

print("Hello")
print(type("shivani"))
print(int("1"))
print(pow(5,3))

Hello
<class 'str'>
1
125

In [14]:
#User-defined
def greet():
    print("Wilkommen")
    
greet()

Wilkommen

In [15]:
print(type("Shivani Sorte"))

<class 'str'>

In [16]:
greet()

Wilkommen

In [17]:
#range(5)= 0 to 5

for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(3,5):
    print(i)

3
4

In [19]:
for i in range(1,5,2):
    print(i)

1
3

In [20]:
for i in range(4):
    greet()

Wilkommen
Wilkommen
Wilkommen
Wilkommen

In [22]:
def mno(a):
    print(pow(a,2))
mno(float(input("Enter num to be squared")))

Enter num to be squared4
16.0

In [23]:
a="Shivani"
print(a*3)

ShivaniShivaniShivani

In [24]:
#calculator function


# String

In [25]:
s="Sorte"
print(s)
print(type(s))
print(s[4])
print(s[-4])

Sorte
<class 'str'>
e
o

In [33]:
#Slicing
#s[1:4]= 1 to 3
print(s[1:4])
print(s[:3])
print(s[3:])
print(s[-4:-2])
print(s[:])

ort
Sor
te
or
Sorte

In [35]:
s="Shivani"
s=list(s)
print(type(s))

<class 'list'>

# Tuple

List and tuple- collection of dissimiliar datatype
list[] - mutable
tuple() - immutable - adhar card pan card num etc
string-immutable

# Set

In [38]:
#Set{}
#Unordered and unindiced
s={"Apple",25, 5.145,"Orange"}

In [39]:
s

{25, 5.145, 'Apple', 'Orange'}

In [40]:
s={10,20,30}
print(s)
print(s[1])

{10, 20, 30}

TypeError: 'set' object is not subscriptable

# Dictionary

In [43]:
# Dictionary = {Key:Value} - values= mutable, keys-immutable
#Key+Value=Item
d={1:"Comp", 2:"IT", 3:"EXTC"}
print(d)
print(type(d))
#print(type(d[0]))
print(d[1])

{1: 'Comp', 2: 'IT', 3: 'EXTC'}
<class 'dict'>
Comp

In [48]:
d={2.23:"Shivani", 12:10.25, "Sorte":125, 2655:2+3j}
print(d)
print(type(d))
print(d[2.23])
print(d["Sorte"])
print([2855])

{2.23: 'Shivani', 12: 10.25, 'Sorte': 125, 2655: (2+3j)}
<class 'dict'>
Shivani
125
[2855]

In [50]:
d={1:100,2:50,1:999}
print(d)

{1: 999, 2: 50}

# String functions

In [51]:
#w3schools or documentation

In [58]:
s="Shivani"
t="sorte"
print(t.capitalize())
print(s.lower())
print(s.upper())
print(s.swapcase())
print(s.replace('i','a'))
print(s.replace('i','a',1))

Sorte
shivani
SHIVANI
sHIVANI
Shavana
Shavani

# List Functions

In [67]:
l=[1,2,3,4,5]
print(l)
l.append("Shivani")
print(l)
l.extend([100,200,"Bubbi"])
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'Shivani']
[1, 2, 3, 4, 5, 'Shivani', 100, 200, 'Bubbi']

In [64]:
print('Bubbi')

Bubbi

In [71]:
l=[1,4,2,4]
l.sort()
print(l)
l.sort(reverse=True)
print(l)
l.reverse()
print(l)

[1, 2, 4, 4]
[4, 4, 2, 1]
[1, 2, 4, 4]

In [74]:
l=[1,2,3,4,5]
l.insert(3,"Bubbi")
print(l)

[1, 2, 3, 'Bubbi', 4, 5]

# Tuple functions

In [75]:
t=(1,2,3,4,5)
print(t)
print(len(t))
print(max(t))
print(min(t))

(1, 2, 3, 4, 5)
5
5
1

# Set function

In [84]:
s={"apple","banana","cherry"}
print("banana" in s)
s.add("mangoes")
print(s)
s.update(["oranges","watermelon","papaya"])
print(s)
print(len(s))
s.add("mangoes")
print(s)

True
{'cherry', 'apple', 'banana', 'mangoes'}
{'cherry', 'mangoes', 'banana', 'watermelon', 'oranges', 'papaya', 'apple'}
7
{'cherry', 'mangoes', 'banana', 'watermelon', 'oranges', 'papaya', 'apple'}

# Dictionary functions

In [87]:
d={1:"COMP",2:"IT", 3:"EXTC"}
print(d)
print(type(d))
print(str(d))
print(type(str(d)))
print(d.values())
del d[1]
print(d)
d.clear()
print(d)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
<class 'dict'>
{1: 'COMP', 2: 'IT', 3: 'EXTC'}
<class 'str'>
dict_values(['COMP', 'IT', 'EXTC'])
{2: 'IT', 3: 'EXTC'}
{}

In [88]:
d1={1:"COMP",2:"IT", 3:"EXTC"}
d2={4:"BIOTECH"}
print(d1)
print(d2)
d1.update(d2)
print(d1)
print(d2)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
{4: 'BIOTECH'}
{1: 'COMP', 2: 'IT', 3: 'EXTC', 4: 'BIOTECH'}
{4: 'BIOTECH'}